@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    position: sticky;
    top: 0px;
    background-color: #24183e;
    width: 100%;
    z-index: 1000;
    margin: 0;
}

.logo-container img {
    height: 150px;
}

.container {
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-btn {
    flex: 3;
    display: flex;
}

.nav-btn .nav-links ul {
    margin-top: 50px;
}

.nav-btn .nav-links ul li ul {
    margin-top: 0;
}

.nav-links {
    flex: 2;
}

.nav-links>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    position: relative;
}

.nav-link>a {
    line-height: 3rem;
    color: #fff;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.nav-link>a>i {
    margin-left: .2rem;
}

.nav-link:hover>a {
    transform: scale(1.1);
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 12rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul {
    position: relative;
}

.dropdown-link>a {
    display: flex;
    background-color: #fff;
    color: #3498db;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link:hover>a {
    background-color: #3498db;
    color: #fff;
}

.dropdown-link:not(:nth-last-child(2)) {
    border-bottom: 1px solid #efefef;
}

.dropdown-link i {
    transform: rotate(-90deg);
}

.arrow {
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link:first-child:hover~.arrow {
    background-color: #3498db;
}

.dropdown-link {
    position: relative;
}

.dropdown.second {
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.dropdown.second .arrow {
    top: 10px;
    left: -5.5px;
}

.nav-link:hover>.dropdown,
.dropdown-link:hover>.dropdown {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu div {
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before {
    transform: translateY(-7px);
}

.hamburger-menu div:after {
    transform: translateY(7px);
}

#check {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked~.hamburger-menu-container .hamburger-menu div {
    background-color: transparent;
}

#check:checked~.hamburger-menu-container .hamburger-menu div:before {
    transform: translateY(0) rotate(-45deg);
}

#check:checked~.hamburger-menu-container .hamburger-menu div:after {
    transform: translateY(0) rotate(45deg);
}

@keyframes animation {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 920px) {
    .hamburger-menu-container {
        display: flex;
    }
    #check {
        display: block;
    }
    .nav-btn {
        position: fixed;
        /* height: calc(100vh - 3rem); */
        top: 9.4rem;
        height: 100%;
        right: 0;
        width: 50%;
        background-color: #24183e;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }
    #check:checked~.nav-btn {
        transform: translateX(0);
    }
    #check:checked~.nav-btn .nav-link,
    #check:checked~.nav-btn .log-sign {
        animation: animation .5s ease forwards var(--i);
    }
    .nav-links {
        flex: initial;
        width: 100%;
    }
    .nav-links>ul {
        flex-direction: column;
    }
    .nav-link {
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }
    .nav-link>a {
        line-height: 1;
        padding: 1.6rem 2rem;
    }
    .nav-link:hover>a {
        transform: scale(1);
        background-color: #462e79;
    }
    .dropdown,
    .dropdown.second {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #452193;
        display: none;
    }
    .nav-link:hover>.dropdown,
    .dropdown-link:hover>.dropdown {
        display: block;
    }
    .nav-link:hover>a>i,
    .dropdown-link:hover>a>i {
        transform: rotate(360deg);
    }
    .dropdown-link>a {
        background-color: transparent;
        color: #fff;
        padding: 1.2rem 2rem;
        line-height: 1;
    }
    .dropdown.second .dropdown-link>a {
        padding: 1.2rem 2rem 1.2rem 3rem;
    }
    .dropdown.second .dropdown.second .dropdown-link>a {
        padding: 1.2rem 2rem 1.2rem 4rem;
    }
    .dropdown-link:not(:nth-last-child(2)) {
        border-bottom: none;
    }
    .arrow {
        z-index: 1;
        background-color: #69bde7;
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: .5s;
    }
    .nav-link:hover .arrow {
        background-color: #50a9d6;
    }
    .dropdown .dropdown .arrow {
        display: none;
    }
    .dropdown-link:hover>a {
        background-color: #3a91bd;
    }
    .dropdown-link:first-child:hover~.arrow {
        background-color: #50a9d6;
    }
    .nav-link>a>i {
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .7s;
    }
    .dropdown i {
        font-size: 1rem;
        transition: .7s;
    }
}

@media (max-width: 420px) {
    .nav-btn {
        width: 65%;
    }
}


/* Carousel */

.mySlides {
    margin-top: 0;
    align-items: center;
    justify-content: center;
}

.mySlides img {
    margin-top: 0;
    vertical-align: middle;
    opacity: 60%;
    width: 100%;
    height: 570px;
}

h2 {
    text-align: center;
    margin: 0;
}


/* Slideshow container */

.slideshow-container {
    position: relative;
    margin: auto;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(34, 14, 66);
    font-weight: bolder;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background: transparent;
}


/* Caption text */

.text {
    color: rgb(34, 14, 66);
    font-size: 2rem;
    position: absolute;
    top: 20.7rem;
    width: 100%;
    text-align: center;
    background: transparent;
    font-weight: normal;
    align-items: center;
    justify-content: center;
}

.data {
    color: rgb(34, 14, 66);
    font-size: 2rem;
    position: absolute;
    top: 20.7rem;
    width: 100%;
    text-align: center;
    background: transparent;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.data p {
    font-weight: normal;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 120s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: .8
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 450px) {
    .prev,
    .next {
        /* opacity: 0; */
        position: absolute;
        top: 18.7rem;
    }
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10;
    position: relative;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .40em;
    font-weight: normal;
    font-size: medium;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
}


/* Testimonials */

.test-container {
    border: 3px solid #fff;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.test-container .test-child {
    float: left;
    padding: 20px;
    border: 2px solid rgb(153, 142, 247);
    background-color: #05063f;
    width: 725px;
    height: 450px;
    display: flex;
}

.test-child .customer1 {
    margin-top: 2rem;
    width: 500px;
    height: 270px;
    overflow: hidden;
}

.test-child .customer2 {
    margin-top: 2rem;
    width: 370px;
    height: 270px;
    border-radius: 5px;
}

.test-child .heading {
    padding: 0.5rem;
    width: 500px;
    height: 50px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}

.test-child .heading h3 {
    background-color: #e5d9f5;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 2rem;
}

.test-child .heading p {
    background-color: #e5d9f5;
    text-align: center;
    display: flex;
    padding: 10px;
    border-radius: 6px;
}


/* Mobile View */

@media screen and (max-width: 600px) {
    .mySlides img {
        vertical-align: middle;
        opacity: 60%;
        width: 100%;
        height: 270px;
    }
    .account {
        height: 274px;
    }
    .text {
        color: rgb(34, 14, 66);
        font-size: 0.8rem;
        position: absolute;
        top: 13.7rem;
        width: 100%;
        text-align: center;
        background: transparent;
        font-weight: normal;
        align-items: center;
        justify-content: center;
    }
    .data {
        color: rgb(34, 14, 66);
        font-size: 0.8rem;
        position: absolute;
        top: 13.7rem;
        width: 100%;
        text-align: center;
        background: transparent;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .data p {
        color: black;
        font-weight: normal;
        font-size: 1rem;
        margin-top: 1rem;
    }
    table {
        border: 0;
    }
    table caption {
        font-size: 1em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: flex;
        font-weight: normal;
        font-size: medium;
        text-align: center;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        margin: auto;
    }
    .test-container {
        display: block;
        font-size: 0.8rem;
    }
    .test-container .test-child {
        width: 100%;
        display: block;
        overflow: hidden;
    }
    .test-child .customer1 {
        width: 400px;
        height: 200px;
        /* box-shadow: 5px 4px 4px 4px rgba(255, 255, 255, 0.2); */
    }
    .test-child .customer2 {
        margin-top: 0;
        width: 400px;
        height: 180px;
        border-radius: 5px;
        /* box-shadow: 5px 4px 4px 4px rgba(255, 255, 255, 0.2); */
    }
    .test-child .heading {
        margin-right: 1rem;
        margin-left: 0.5rem;
        padding: 0;
        align-items: center;
    }
    .test-child .heading h3 {
        background: none;
        color: white;
        text-align: center;
        padding: 10px;
        border-radius: 6px;
        margin-bottom: 10px;
        width: 280px;
    }
    .test-child .heading p {
        background-color: #e5d9f5;
        text-align: center;
        display: flex;
        padding: 10px;
        border-radius: 6px;
        width: 280px;
        margin-top: 0;
    }
}

table td:last-child {
    border-bottom: 0;
}

.text h4 {
    font-weight: normal;
}