@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    /* overflow: auto; */
}

img {
    max-width: 100%;
    height: auto;
}

header {
    position: sticky;
    top: 0px;
    background-color: #24183e;
    width: 100%;
    z-index: 1000;
    margin: 0;
    /* animation: movedown 1s linear 1;
    animation-delay: .5s;
    visibility: hidden;
    animation-fill-mode: forwards; */
}


/* @keyframes movedown{
    0%{
        transform: translateY(-35%);
        visibility: visible;
    }
    100%{
        transform: translateY(0);
        visibility: visible;
    }
} */

.logo-container img {
    height: 150px;
    animation: moveright 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes moveright {
    0% {
        transform: translateX(-100%);
        visibility: visible;
    }
    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

.container {
    width: min(1080px, 80%);
    /* padding: 0 2rem; */
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.login {
    margin-top: 3.4rem;
    cursor: pointer;
}

.login h2 {
    font-size: 1.2rem;
    width: 190px;
    color: #3a91bd;
    border: 1px solid #3a91bd;
    border-radius: 10px;
    padding: .2rem;
    text-align: center;
    animation: moveleft 1s linear 1;
    animation-delay: .5s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes moveleft {
    0% {
        transform: translateX(30%);
        visibility: visible;
    }
    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

.login h2:hover {
    color: white;
    background: #3a91bd;
}

.nav-btn {
    flex: 3;
    display: flex;
}

.nav-btn .nav-links ul {
    margin-top: 3.3rem;
}

.nav-btn .nav-links ul li ul {
    margin-top: 0;
}

.nav-links {
    flex: 2;
    /* animation: movedown 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards; */
}


/* @keyframes movedown{
    0%{
        transform: translateY(-20%);
        visibility: visible;
    }
    100%{
        transform: translateY(0);
        visibility: visible;
    }
} */

.nav-links>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    position: relative;
}

.nav-link>a {
    line-height: 3rem;
    color: #fff;
    padding: 0 .8rem;
    letter-spacing: 0.5px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.nav-link>a>i {
    margin-left: .2rem;
}

.nav-link:hover>a {
    transform: scale(1.1);
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 12rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul {
    position: relative;
}

.dropdown-link>a {
    display: flex;
    background-color: #fff;
    color: #3498db;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link:hover>a {
    background-color: #3498db;
    color: #fff;
}

.dropdown-link:not(:nth-last-child(2)) {
    border-bottom: 1px solid #efefef;
}

.dropdown-link i {
    transform: rotate(-90deg);
}

.arrow {
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link:first-child:hover~.arrow {
    background-color: #3498db;
}

.dropdown-link {
    position: relative;
}

.dropdown.second {
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.dropdown.second .arrow {
    top: 10px;
    left: -5.5px;
}

.nav-link:hover>.dropdown,
.dropdown-link:hover>.dropdown {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu div {
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before {
    transform: translateY(-7px);
}

.hamburger-menu div:after {
    transform: translateY(7px);
}

#check {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 2rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked~.hamburger-menu-container .hamburger-menu div {
    background-color: transparent;
}

#check:checked~.hamburger-menu-container .hamburger-menu div:before {
    transform: translateY(0) rotate(-45deg);
}

#check:checked~.hamburger-menu-container .hamburger-menu div:after {
    transform: translateY(0) rotate(45deg);
}

@keyframes animation {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 920px) {
    .hamburger-menu-container {
        display: flex;
    }
    #check {
        display: block;
    }
    .login h2 {
        font-size: .96rem;
        position: absolute;
        right: 15%;
        top: 4rem;
        width: 140px;
        padding: .5rem;
        line-height: 1.3rem;
    }
    .nav-btn {
        position: fixed;
        /* height: calc(100vh - 3rem); */
        top: 9.3rem;
        height: 100%;
        right: 0;
        width: 50%;
        background-color: #24183e;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }
    #check:checked~.nav-btn {
        transform: translateX(0);
    }
    #check:checked~.nav-btn .nav-link,
    #check:checked~.nav-btn .log-sign {
        animation: animation .5s ease forwards var(--i);
    }
    .nav-links {
        flex: initial;
        width: 100%;
    }
    .nav-links>ul {
        flex-direction: column;
    }
    .nav-link {
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }
    .nav-link>a {
        line-height: 1;
        padding: 1.6rem 2rem;
    }
    .nav-link:hover>a {
        transform: scale(1);
        background-color: #462e79;
    }
    .dropdown,
    .dropdown.second {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #452193;
        display: none;
    }
    .nav-link:hover>.dropdown,
    .dropdown-link:hover>.dropdown {
        display: block;
    }
    .nav-link:hover>a>i,
    .dropdown-link:hover>a>i {
        transform: rotate(360deg);
    }
    .dropdown-link>a {
        background-color: transparent;
        color: #fff;
        padding: 1.2rem 2rem;
        line-height: 1;
    }
    .dropdown.second .dropdown-link>a {
        padding: 1.2rem 2rem 1.2rem 3rem;
    }
    .dropdown.second .dropdown.second .dropdown-link>a {
        padding: 1.2rem 2rem 1.2rem 4rem;
    }
    .dropdown-link:not(:nth-last-child(2)) {
        border-bottom: none;
    }
    .arrow {
        z-index: 1;
        background-color: #69bde7;
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: .5s;
    }
    .nav-link:hover .arrow {
        background-color: #50a9d6;
    }
    .dropdown .dropdown .arrow {
        display: none;
    }
    .dropdown-link:hover>a {
        background-color: #3a91bd;
    }
    .dropdown-link:first-child:hover~.arrow {
        background-color: #50a9d6;
    }
    .nav-link>a>i {
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .7s;
    }
    .dropdown i {
        font-size: 1rem;
        transition: .7s;
    }
}

@media(max-width: 620px) {
    .login h2 {
        top: 3.5rem;
        width: 110px;
        padding: .2rem;
    }
}

@media (max-width: 420px) {
    .nav-btn {
        width: 65%;
    }
    .login h2 {
        top: 3.5rem;
        width: 100px;
        padding: .1rem;
    }
}


/*---------------------------------------------------carousel------------------------------------- */

.mySlides {
    margin-top: 0;
    align-items: center;
    justify-content: center;
}

.mySlides img {
    margin-top: 0;
    vertical-align: middle;
    opacity: 60%;
    width: 100%;
    height: 700px;
}

.myslides h2 {
    text-align: center;
    margin: 0;
}


/* Slideshow container */

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background: transparent;
}


/* Caption text */

.text {
    color: rgb(34, 14, 66);
    font-size: 2vw;
    position: absolute;
    top: 13.7rem;
    width: 100%;
    text-align: center;
    background: transparent;
    font-weight: normal;
    align-items: center;
    justify-content: center;
}

.data {
    color: rgb(34, 14, 66);
    font-size: 2vw;
    position: absolute;
    top: 13.7rem;
    width: 100%;
    text-align: center;
    background: transparent;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 120s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}


/* @media only screen and (max-width: 700px) {
    .prev,
    .next {
        position: absolute;
        top: 40%;
    }
}
@media only screen and (max-width: 1000px) {
    .prev,
    .next {
        position: absolute;
        top: 35%;
    }
}
@media only screen and (min-width: 400px) {
    .prev,
    .next {
        position: absolute;
        top: 40%;
    }
}
@media only screen and (max-width: 370px) {
    .prev,
    .next {
        position: absolute;
        top: 40%;
    }
} */


/* ---------------------------------------------------about us------------------------------------ */

#aboutUs {
    background: rgb(226, 225, 224);
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* background-color: aqua; */
}

.aboutus-image {
    background: url("images/aboutus1.jpg") no-repeat center;
    background-size: cover;
    height: 35vh;
    background-attachment: fixed;
}

.aboutus-overlay {
    background: rgba(0, 0, 0, 0.288);
    height: 100%;
}

.aboutus-overlay h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    padding-top: 5rem;
}

.aboutus-container {
    width: min(991px, 80%);
    margin: auto;
    height: 100%;
}

.aboutus-bottom {
    /* background: coral; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em 0;
}

.dflex {
    /* border: 1px solid black; */
    background: rgb(188, 188, 214);
    border-radius: 5px;
    padding: 15px;
    margin-top: 40px;
    text-align: center;
    cursor: pointer;
}

.d-image img {
    height: 160px;
}

.d-text {
    padding: .5rem;
}

.d-text h2 {
    padding-bottom: .5rem;
}

@media (min-width: 768px) {
    /* #aboutUs{
        height: 100%;
    } */
    .dflex {
        margin-top: 2.5rem;
        padding: 0;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    .d-image img {
        height: 185px;
    }
    .aboutus-bottom {
        padding: 1.5rem 0;
    }
}


/*--------------------------------------------------------- Products------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: "Poppins", sans-serif;
}

.all_products {
    background: rgb(2, 2, 3);
    width: 100%;
    display: block;
}

.banner_pro {
    width: 100%;
    background: url("images/ps.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 30vh;
}

.pro_overlay {
    background: rgba(0, 0, 0, 0.527);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    color: white;
    font-weight: bold;
}

.pro_overlay h2 {
    color: whitesmoke;
    font-size: 5rem;
    text-align: center;
}

.banner_pro img {
    height: 40vh;
    width: 100%;
}

.ps {
    display: block;
    width: 100%;
    height: 800px;
    position: relative;
}

.savings {
    /* background-color: darkblue; */
    display: flex;
    margin-top: 1rem;
    width: 100%;
}

.pic {
    width: 50%;
    justify-content: center;
    align-items: center;
}

.pic img {
    margin-left: 12rem;
    padding: 0;
    height: auto;
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 50%;
    display: block;
    position: relative;
}

.pic {
    width: 50%;
}

.pic img {
    margin: auto;
}

.content {
    display: flex;
}

.tabular {
    background: black;
    color: white;
    width: 50vw;
    height: 100%;
    text-align: center;
    padding: auto;
    position: relative;
    font-size: 1rem;
}

td,
th {
    padding: 1rem;
}

.deposit {
    display: flex;
    width: 100%;
    float: right;
    margin-bottom: 1rem;
}

.block {
    background: url("images/block.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.block h1 {
    font-size: 2rem;
}

.block ul {
    list-style-type: none;
    font-weight: bolder;
    color: white;
}

.block ul li {
    margin: 2rem;
    padding: 1rem;
    font-size: 2rem;
}

.block .pro_overlay {
    background: rgba(44, 9, 245, 0.527);
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

@media only screen and (max-width: 700px) {
    .banner_pro {
        height: 30vh;
    }
    .all_products .ps {
        display: block;
        width: 100%;
        height: 100vh;
    }
    .pro_overlay h2 {
        font-size: 2rem;
        text-align: center;
        margin: 2rem;
    }
    .savings {
        display: table;
        margin: 0;
    }
    .content {
        width: 100%;
    }
    .tabular {
        width: 100%;
        font-size: 0.8rem;
    }
    .pic {
        display: table-header-group;
    }
    .pic img {
        margin: 0;
        padding: 0;
        width: 100%;
        border-radius: 0%;
    }
    .deposit {
        width: 100%;
        display: block;
    }
    td,
    th {
        padding: 0.5rem;
    }
    .pro_overlay ul {
        margin: 0;
        padding: 0;
    }
    .pro_overlay ul li {
        font-size: 1rem;
        text-align: center;
        margin: auto;
    }
}


/*----------------------------------------------------------------Testimonials-----------------------------------*/

.testimonials-title {
    background: url(images/testimonials.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 35vh;
    margin-bottom: 1rem;
}

.testimonials-overlay {
    background: rgba(0, 0, 0, 0.233);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials-title h2 {
    font-size: 2.3rem;
    /* background: #3a91bd; */
    margin-bottom: 1rem;
    color: whitesmoke;
}

.testimonial-container {
    width: min(991px, 85%);
    margin: 0 auto;
}

.testimonial-content {
    border: 2px solid rgb(20, 23, 209);
    /* background: #9b89c2; */
    background: rgb(10, 2, 80);
    margin-bottom: 2rem;
    padding: .5rem;
}

.testimonial-content img {
    padding: 1rem;
}

.testimonial-texts {
    color: whitesmoke;
}

.testimonial-texts h3 {
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

.testimonial-texts p {
    border: 1px solid whitesmoke;
    background: rgb(226, 220, 220);
    color: black;
    border-radius: 5px;
    padding: .6rem;
    font-size: .9rem;
    text-align: left;
}

@media(min-width: 769ox) {
    .testimonials-title h2 {
        font-size: 3rem;
    }
}

@media(min-width: 869px) {
    .testimonials-title {
        height: 40vh;
    }
    .testimonial-content img {
        height: 20rem;
        padding: 2rem;
    }
    .testimonial-content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        /* justify-content: space-between; */
    }
}


/* --------------------------------------------------------Privacy Policy begins------------------------------- */

#privacypolicy {
    /* font-family: Georgia, "Times New Roman", Times, serif; */
}

.privacy-title {
    background: url("images/privacypolicy1.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 40vh;
}

.privacy-overlay {
    background: rgba(0, 0, 0, 0.527);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.privacy-overlay h2 {
    color: whitesmoke;
    font-size: 2.3rem;
    text-align: center;
}

.privacy-container {
    width: min(991px, 80%);
    margin: 0 auto;
}

.privacy-content {
    background: rgba(97, 92, 145, 0.247);
}

.privacy-container {
    width: min(991px, 80%);
    margin: 0 auto;
}

.privacy-container ul {
    /* background: khaki; */
    padding: 1rem 0 2rem 0;
}

.privacy-container ul li {
    text-align: center;
}

.privacy-container ul li h2 {
    padding: 1rem 0;
    font-size: 1.3rem;
}

.privacy-container ul li p {
    text-align: justify;
    line-height: 1.25rem;
}

.policy {
    display: flex;
    flex-direction: column;
}

.policy img {
    margin: 0 auto;
    height: 5em;
    padding: 0.5rem;
    border: 2px solid black;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
}

@media (min-width: 769px) {
    .privacy-overlay h2 {
        font-size: 3rem;
    }
}

@media (min-width: 869px) {
    .privacy-title {
        background: url("images/privacypolicy.jpg") no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        height: 45vh;
    }
    .privacy-overlay h2 {
        width: 85%;
        font-size: 4rem;
        text-align: left;
        letter-spacing: 1.5px;
    }
    .privacy-container ul {
        /* background: khaki; */
        padding: 1.5rem 0 2.5rem 0;
    }
    .privacy-container ul li {
        line-height: 1.4rem;
        letter-spacing: 0.5px;
        padding-top: 1.5rem;
        text-align: left;
    }
    .privacy-container ul li h2 {
        padding: 1.5rem 0;
        font-size: 1.5rem;
    }
    .privacy-container ul li p {
        text-align: left;
        line-height: 1.4rem;
    }
    .policy {
        flex-direction: row;
        align-items: center;
        /* justify-content: space-between; */
        width: 85%;
        margin: 0 auto;
    }
    .policy img {
        height: 10em;
        padding: 1rem;
        margin-right: 4rem;
    }
    .privacy-container ul li:hover img {
        transition: 1s ease-in-out;
        transform: translateX(-30%);
        border-top-right-radius: 0%;
        border-bottom-left-radius: 0%;
        border-top-left-radius: 30%;
        border-bottom-right-radius: 30%;
    }
}


/* Privacy Policy ends */


/* ---------------------------------------------- Terms and Conditions Begins --------------------------------------------------- */


/* #tandc {
    font-family: Georgia, "Times New Roman", Times, serif;
} */

.tandc-title {
    background: url(images/tandc.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 30vh;
}

.tandc-overlay {
    background-color: rgba(0, 0, 0, 0.596);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tandc-overlay h2 {
    color: whitesmoke;
    font-size: 2rem;
}

.tandc-content {
    background: rgba(97, 92, 145, 0.247);
}

.tandc-container {
    width: min(991px, 80%);
    margin: 0 auto;
}

.tandc-container ul {
    /* background: khaki; */
    padding: 1rem 0 1.5rem 0;
}

.tandc-container ul li {
    list-style-type: initial;
    padding-top: 1rem;
    text-align: justify;
    line-height: 1.25rem;
}

@media (min-width: 769px) {
    .tandc-overlay h2 {
        font-size: 3rem;
    }
}

@media (min-width: 869px) {
    .tandc-title {
        height: 45vh;
    }
    .tandc-overlay h2 {
        width: 85%;
        font-size: 3.5rem;
        letter-spacing: 1.5px;
        text-align: left;
    }
    .tandc-container ul {
        /* background: khaki; */
        padding: 1.5rem 0 3rem 0;
    }
    .tandc-container ul li {
        line-height: 1.4rem;
        letter-spacing: 0.5px;
        padding-top: 1.5rem;
        text-align: left;
    }
}


/* ---------------------------------------------- Terms and Conditions Ends --------------------------------------------------- */


/* -----------------------------------------------Footer Begins --------------------------------------------------------------- */

.contact-section {
    background: url("images/contact1.jpg") no-repeat center;
    color: cornsilk !important;
    background-size: cover;
    height: 100%;
}

.contact-overlay {
    background-color: rgba(0, 0, 0, 0.596);
    height: 100%;
}

.contact-container {
    width: min(991px, 85%);
    margin: 0 auto;
}

.contact-container h2 {
    padding: 0.5em;
    background-color: none;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 2px;
}

.contact-links {
    /* background: rgb(109, 107, 107); */
    text-align: center;
    /* letter-spacing: 1px; */
    padding-top: 1rem;
}

.contact-links ul {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.contact-links ul a {
    color: #fff;
    margin: 1rem;
}

.contact-address {
    padding-top: 0;
}

.contact-address-top {
    margin: 7px 0;
    display: flex;
    /* text-align: center; */
    justify-content: center;
}

.contact-address-top img:hover {
    transform: translateX(20%);
    transition: 1s;
}

.contact-icon1 img {
    height: 1.9em;
    margin-right: 1rem;
}

.contact-icon21 {
    display: flex;
    flex-direction: column;
}

.contact-icon2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5em;
    letter-spacing: 1px;
}

.contact-icon2 img {
    /* max-width: 100%; */
    height: 1.7em;
    margin-right: 0.5rem;
}

.contact-icon2 a {
    display: flex;
    font-size: 0.9rem;
    /* justify-content: center; */
    color: black;
}

.contact-items {
    padding-top: 1rem;
}

.contact-items p {
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    letter-spacing: 1px;
}

.contact-container1 {
    width: min(85%, 989px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form {
    /* width: 80%; */
    margin: 0 auto;
}

form {
    text-align: center;
    margin-top: 1.25em;
}

input {
    padding: 10px;
    margin-bottom: 1.25em;
    width: 80%;
    background-color: rgba(136, 133, 133, 0.5);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}

input::placeholder {
    color: white;
}

textarea {
    padding: 10px;
    margin-bottom: 1em;
    width: 80%;
    background-color: rgba(136, 133, 133, 0.5);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}

textarea::placeholder {
    color: white;
}

.submit {
    width: 50%;
    background: none;
    font-weight: bold;
    letter-spacing: 2px;
    height: 33px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid rgb(190, 190, 190);
    color: rgb(190, 190, 190);
}

.submit:hover {
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

.copyright {
    background: #c95937;
    color: whitesmoke;
    text-align: center;
    padding: 0;
}

@media (min-width: 769px) {
    .contact-section {
        background: url("images/contact.jpg") no-repeat center;
        background-size: cover;
    }
    .contact-container {
        display: flex;
        /* flex-direction: row; */
    }
    .contact-links ul {
        /* background: chocolate; */
        width: 200px;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .contact-links ul li {
        padding-top: 1rem;
    }
    .contact-links ul a:hover {
        transition: 0.5s;
        color: rgb(252, 250, 252);
    }
    .contact-links h2 {
        padding: 0.5em;
        /* font-size: 2em; */
        letter-spacing: 2px;
    }
    .contact-address {
        /* background: coral; */
        padding-top: 1rem;
    }
    .contact-items p {
        padding: 12px;
        letter-spacing: 1px;
        font-size: 1.1em;
    }
    .contact-container1 {
        width: 100%;
        margin: 0;
    }
    input {
        width: 100%;
    }
    textarea {
        width: 100%;
    }
    .contact-address-top {
        display: flex;
        /* flex-direction: column; */
        /* justify-content: center; */
        align-items: center;
    }
    .contact-icon1 img {
        height: 2.1rem;
        margin-bottom: 0.8rem;
    }
    .contact-address-top img:hover {
        transform: translateX(25%);
    }
    .contact-address-bottom a:hover {
        transform: translateX(1.5%);
        transition: 1s;
    }
    .contact-icon21 {
        /* display: flex; */
        flex-direction: row;
        justify-content: space-evenly;
    }
    .contact-icon2 {
        display: flex;
        justify-content: space-evenly;
    }
    .contact-icons2 a {
        font-size: 1.15rem;
    }
    .contact-bottom a {
        border-radius: 10px;
        padding-left: 10px;
    }
    .contact-icons2 a:hover {
        transition: 0.5s;
        color: rgb(57, 20, 220);
    }
    .submit {
        padding-bottom: 0;
    }
}


/* -----------------------------------------------Footer Ends ------------------------------------------------------------------ */


/* Mobile View */

@media screen and (max-width: 600px) {
    .mySlides img {
        vertical-align: middle;
        opacity: 60%;
        width: 100%;
        height: 270px;
    }
    .account {
        height: 274px;
    }
    .text {
        color: rgb(34, 14, 66);
        font-size: 0.8rem;
        position: absolute;
        top: 3.7rem;
        width: 100%;
        text-align: center;
        background: transparent;
        font-weight: normal;
        align-items: center;
        justify-content: center;
    }
    .data {
        color: rgb(34, 14, 66);
        font-size: 0.8rem;
        position: absolute;
        top: 3.7rem;
        width: 100%;
        text-align: center;
        background: transparent;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .data p {
        color: black;
        font-weight: normal;
        font-size: 1rem;
        margin-top: 1rem;
    }
    /* Products start */
    .savings_block {
        display: table;
        width: 100%;
    }
    .savings_block .content_block {
        display: block;
        display: table-footer-group;
        font-size: 0.8rem;
    }
    .savings_block .content_block h1 {
        margin: 0;
    }
    .savings_block img {
        margin-left: -0.5rem;
        margin-bottom: 0;
        width: 100%;
        height: 200px;
        border-radius: 4px;
    }
    .content_block {
        width: 100%;
        padding: 0;
        height: 200px;
    }
    .content_block h1 {
        padding-top: 0.2rem;
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 1.5rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 0;
    }
    .common_block {
        border-radius: 0;
        height: 220px;
    }
    .table_block {
        width: 100%;
        margin: auto;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
    th,
    td {
        border: 2px solid rgb(163, 118, 236);
    }
    .box_block {
        display: block;
        font-size: 0.8rem;
    }
    .deposit_block {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .box_block img {
        margin-left: 0;
        margin-bottom: 0;
        width: 100%;
        height: 200px;
        border-radius: 4px;
    }
    .loans_block {
        display: table;
        width: 100%;
    }
    .loans_block .content_block {
        display: block;
        display: table-footer-group;
        font-size: 0.8rem;
    }
    .loans_block img {
        margin-left: 0;
        margin-bottom: 0;
        width: 100%;
        height: 220px;
        border-radius: 4px;
    }
    .loan_data {
        width: 100%;
        margin: auto;
        font-size: 0.8rem;
        padding-bottom: 0.5rem;
    }
    .common {
        width: 100%;
    }
    /* Products end */
}